@import url('https://fonts.googleapis.com/css2?family=Newsreader:wght@800&display=swap');

.bgcard{
    background-color: #F2F2F2
    /* #E0F8E6 ; */
}

.colortext{
    color: #5858FA
}

.fondo{
    background-color: #e0f8ec;
    background-image: linear-gradient(29deg, #e0f8ec 0%, #fbfbef 100%);
    

}

.fuentetitulos{
    font-family: 'Newsreader', serif;
}

.efectocard:hover {
    position: relative;
    bottom: 5px;
    right: 5px;
        transition: 800ms;
}

@media all and (min-width: 992px) {
.altura{
    max-height: 160px;
    }
}

/* .imgcards {
    filter: grayscale(60%)
} */

.textocards{
    background: rgba(0,0,0,.4);
    color: #fff;
    font-size: 10vw;
    font-weight: 100;
    text-align: center;
    width: 100%;
    line-height: 1;
    text-shadow: 
    2px 2px 0 #000,
    -2px -2px 0 #000,  
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;
  
  }